*{
    box-sizing: border-box;
  }
  
  body{
    display : flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: black;
    color: white;
  }
  
  article{
    width: 700px;
  }
  
  header{
    display: flex;
    justify-content: space-between;
  }
  
  img{
    height: 65px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .profile{
    display: flex;
    align-items: center;
  }
  
  h1, h2{
    margin: 0;
  }
  
  h1{
    font-size : 16px;
  }
  
  h2{
    font-weight: normal;
    font-size: 14px;
    color: grey;
    margin: 5px;
  }
  
  ul{
    padding: 15px 0;
    border-top: 1px solid grey;
    border-bottom : 1px solid grey;
  }
  
  li{
    display: inline-block;
    padding-right: 25px;
    color: grey;
  }
  
  li strong{
    color: white;
  }
  
  p{
    font-size: 22px;
  }
  
  .icons{
    display: flex;
    justify-content: space-evenly;
    font-size: 18px;
    color: grey;
  }